.board {
    width: 322px; /* Minimum width for each board */
    height: 79vh;
    overflow-y: auto;
    max-height: 100vh; /* Height for each board */
    background-color: #f0f0f0; /* Background color for each board */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
.board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.board_header_title {
  font-family: var(--font-dm-sans);  
  font-size: 18.8px;
  align-items: center;
}



.img_container {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.img_container img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
  
  .add-card-button {
    cursor: pointer;
    color: rgba(118, 117, 117, 1);
    font-size: 30px;
    border-radius: 5px;
  }
  
  .add-card-button:hover {
    background-color: skyblue;
  }
