.form_Container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 500px;
  transform: translate(-50%, -50%);
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 18px;
  box-sizing: border-box;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0px 0px 0px 100vw rgba(47, 47, 47, 0.75);
}

form label {
  font-size: 17px;
  margin-bottom: 8px;
  font-family: var(--font-dm-sans);
}

label::after {
  content: "*";
  color: red;
  font-size: smaller;
}

input[type="text"][name="title"] {
  border-color: red;
  width: 98.8%;
  padding: 7px;
  padding-left: 17px;
  margin-bottom: 23px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.priority-clickable-div {
  cursor: pointer;
  display: inline-block;
  margin-right: 8.8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.checklist-item {
  position: relative;
  margin-bottom: 10px;
}
.deleteDiv {
  position: absolute;
  top: 0px;
  right: 10.8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.img_container img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

.checklist-item input[type="text"] {
  width: 98.8%;
  padding: 5px;
  padding-left: 40px;
  padding-right: 50px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
.checklist-item input[type="checkbox"] {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(23, 162, 184, 1);
}

.addChecklist {
  font-size: 17px;
  font-family: var(--font-dm-sans);
  color: rgba(118, 117, 117, 1);
  cursor: pointer;
}