/* Dashboard.css */
.dashboard-container {
    width: 85vw; 
    overflow-x: auto;
    padding-left: 22px;
    height: 85vh;
    box-sizing: border-box;
    overflow-y: hidden;
}
.dashboard-header {
    height: 15vh;
    box-sizing: border-box;
    padding: 17px;
}
.dashboard {
    display: flex;
    gap: 20px;
}

.headerboard {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.currentDate {
    position: absolute;
    right: 30px;
    top: 30px;

    color: rgba(112, 112, 112, 1);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

  