/* Home.css */
.home {
    display: flex; /* Flex layout ka use karein */
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    box-sizing: border-box;
}
  