.card {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    transition: height 0.3s ease; /* Add transition for smooth height change */
    position: relative; /* Position relative for absolute positioning of toggle button */
    height: auto;
  }
  .dropdown-container {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-option {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }


  .cardTitle {
    margin-top: 8px;
    margin-bottom: 30px;
    font-family: var(--font-dm-sans);
  }
  .checkHeder {
    font-family: var(--font-dm-sans);
    font-weight: 300;
    font-size: 17px;
  }
  
  .toggle-checklists {
    cursor: pointer;
    position: absolute; /* Position toggle button */
    top: 90px; /* Adjust top position */
    right: 20px; /* Adjust right position */
    width: 24px; /* Set width */
    height: 24px; /* Set height */
    background-color: rgba(238, 236, 236, 1);
    border-radius: 7px;
  }
  
  
  .priority {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 2px;
  }
  
  .checklists.visible {
    display: block;
    margin-top: 18px;
  }
  
  .checklists {
    display: none;
    margin-bottom: 8px;
  }

  
  .checklists li {
    list-style: none;
    margin-bottom: 10px;
    padding: 8.7px;
    border: 2px solid rgba(226, 226, 226, 1);
    border-radius: 13.1px;
  }
  
  .checklists li input[type="checkbox"] {
    margin-right: 16px;
    border-radius: 20px;
    background-color: rgba(23, 162, 184, 1);
  }
  .checklists li .item-title {
    max-width: 150px; /* Adjust the maximum width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
 
  .dueDateChip {
    padding: 4px 7px;
    border-radius: 10px;
    font-size: 15px;
  }
  
  .board-chip {
    display: inline-block;
    background-color: rgba(238, 236, 236, 1);
    padding: 5px 8px;
    margin-left: 8px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .board-chip:hover {
    background-color: gray;
  }  