.card {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    transition: height 0.3s ease; /* Add transition for smooth height change */
    position: relative; /* Position relative for absolute positioning of toggle button */
    height: auto;
  }
  .dropdown-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-option {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }


  .cardTitle {
    margin-top: 8px;
    margin-bottom: 30px;
    font-family: var(--font-dm-sans);
  }
  .checkHeder {
    font-family: var(--font-dm-sans);
    font-weight: 300;
    font-size: 17px;
  }
  
  .toggle-checklists {
    cursor: pointer;
    position: absolute; /* Position toggle button */
    top: 93px; /* Adjust top position */
    right: 10px; /* Adjust right position */
    width: 24px; /* Set width */
    height: 24px; /* Set height */
  }
  

 
  
  .priority {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 2px;
  }
  
  .checklists.visible {
    display: block;
    margin-top: 18px;
  }
  
  .checklists {
    display: none;
    margin-bottom: 8px;
  }

  
  .checklists li {
    list-style: none;
    margin-bottom: 10px;
    padding: 8.7px;
    border: 2px solid rgba(226, 226, 226, 1);
    border-radius: 13.1px;
  }
  
  .checklists li input[type="checkbox"] {
    margin-right: 16px;
    border-radius: 20px;
    background-color: rgba(23, 162, 184, 1);
  }

  .chip {
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  .due-date {
    margin-top: 10px;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
  }
  
  .board-chips {
    margin-top: 10px;
  }
  
  .board-chip {
    display: inline-block;
    background-color: lightblue;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .board-chip:hover {
    background-color: skyblue;
  }  